* {
    border: 2px solid red;
    font-family: 'Roboto';
}


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-color: #0ea5e9;
    text-align: center;
}

.sidebar > * {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 25px;
    color: white;
    font-weight: 300;
}

a {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

a > img {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(20%) saturate(27%) hue-rotate(102deg) brightness(106%) contrast(106%);
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main > * {
    display: grid;
    grid-template-columns: 1fr;
}

.project {
    grid-row: 1/3;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}